# This file contains all the files/directories that should
# be ignored (i.e. not included) in the final packaged extension.

# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
dist/extension/test/**

# Ignore all workspace files (everything needed should be in dist)
packages/**

# Ignore development docs
docs/**

# Ignore testbench workspace
sampleWorkspace/**

# Ignore Misc
vsc-extension-quickstart.md
**/node_modules/**
scripts/**
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.*
**/*.map
**/*.ts
**/.yarnrc.*
.yarn/**