.common-node {
  border: 2px solid var(--vscode-widget-border);
  border-radius: 10px;
  background-color: var(--vscode-panel-background);
  min-width: 80px;
  min-height: 20px;
}

.selected > .common-node {
  border-color: var(--vscode-focusBorder);
}

.common-node-header {
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 2px solid var(--vscode-tree-indentGuidesStroke);
}

/* must be in a container with `position:relative`! */
.common-handle {
  width: 10px !important;
  height: 10px !important;
  background-color: #512888 !important;
}
