html,
body,
#root {
  height: 100%;
  background-color: var(--vscode-editor-background);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
