.not-supported-banner {
  background-color: var(--vscode-statusBarItem-warningBackground);
  color: var(--vscode-statusBarItem-warningForeground);
  user-select: none;
  width: 100%;
  padding: 2px 4px;
}

/* .not-supported-icon {
  content: url("../../media/icons/warning.svg");
  margin: auto 0;
  vertical-align: middle;
} */

.not-supported-text {
  /* margin-right: 16px; */
  text-align: center;
}

.not-supported-name {
  font-family: var(--vscode-editor-font-family);
  font-weight: bold;
}